In [2]:
import pandas as pd
import numpy as np

In [3]:
student_logs = pd.read_csv("dataset/logs.csv")
student_scores = pd.read_csv("dataset/scores.csv")

In [4]:
student_logs.head()

  StudentId             Time         Type                    Action
0      72af  28/05/23, 10:51  User report  Grade user report viewed
1      72af  28/05/23, 10:51       System             Course viewed
2      c426  27/05/23, 15:53       System             Course viewed
3      0326  26/05/23, 22:22       System             Course viewed
4      8b7a  26/05/23, 21:52       System             Course viewed

In [5]:
student_scores.head()

  StudentId Grade
0      c426   2nd
1      8de3   2nd
2      d969   2nd
3      6d29   1st
4      1dd9   1st

In [6]:
# feature engineering
# hypothesis 1 - find out if more logs in total means higher final score
# hypothesis 2 - find out if more logs on a weekly basis means higher final score

In [7]:
# for hypothesis 1
# 1. find the total logs
counts_per_column = student_logs.count()
# print (counts_per_column)
# 1.1. group the occurrences by id and sort in descending order 
student_count = student_logs.groupby('StudentId').size().reset_index(name='Count').sort_values(['Count'], ascending=False)
student_count_max = student_logs.groupby('StudentId').size().idxmax()
student_count_min = student_logs.groupby('StudentId').size().idxmin()
print(student_count)
print(student_count_max)
print(student_count_min)
# 1.5 find the students with highest logs
# 2. find the total scores
# 2.5 find the students with highest scores
# 3. compare total logs to total scores

    StudentId  Count
91       d3e2   1979
21       37dc   1903
53       7703   1774
34       584e   1705
8        0ea4   1692
..        ...    ...
110      f63c    146
95       d884    145
25       486d    143
0        0126    126
105      edfc    116

[115 rows x 2 columns]
d3e2
edfc